@-webkit-keyframes mmfadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes mmfadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes mmfadeOut {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes mmfadeOut {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes remove-items {
  0% {
    opacity: 1;
    overflow: hidden; }
  50% {
    opacity: 0; }
  to {
    opacity: 0;
    height: 0; } }

@keyframes remove-items {
  0% {
    opacity: 1;
    overflow: hidden; }
  50% {
    opacity: 0; }
  to {
    opacity: 0;
    height: 0; } }

@-webkit-keyframes animation-header-sticky {
  0% {
    transform: translateY(-158px);
    transition: transform .35s ease-in-out; }
  to {
    transform: translateY(0);
    transition: transform .35s ease-in-out; } }

@keyframes animation-header-sticky {
  0% {
    transform: translateY(-158px);
    transition: transform .35s ease-in-out; }
  to {
    transform: translateY(0);
    transition: transform .35s ease-in-out; } }

@-webkit-keyframes animation-menu-left-to-right {
  0% {
    transform: translateX(0);
    transition: transform .35s ease-in-out; }
  to {
    transform: translateX(-375px);
    transition: transform .35s ease-in-out; } }

@keyframes animation-menu-left-to-right {
  0% {
    transform: translateX(0);
    transition: transform .35s ease-in-out; }
  to {
    transform: translateX(-375px);
    transition: transform .35s ease-in-out; } }

@-webkit-keyframes animation-menu-right-to-left {
  0% {
    transform: translateX(-375px);
    transition: transform .35s ease-in-out; }
  to {
    transform: translateX(0);
    transition: transform .35s ease-in-out; } }

@keyframes animation-menu-right-to-left {
  0% {
    transform: translateX(-375px);
    transition: transform .35s ease-in-out; }
  to {
    transform: translateX(0);
    transition: transform .35s ease-in-out; } }

@-webkit-keyframes animation-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes animation-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.popup-component {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all .35s ease-in-out; }

.popup-component.is-open {
  visibility: visible;
  opacity: 1;
  z-index: 100; }

.popup-component.is-open .popup-component_overlay {
  z-index: 99;
  visibility: visible;
  opacity: 1; }

.popup-component.is-open .popup-component_box {
  transform: scale(1); }

.popup-component:not(.is-open) .popup-component_box img {
  height: 0;
  width: 0; }

.popup-component .popup-component_overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 30, 30, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0, 0, 0.2, 1), visibility 0.4s cubic-bezier(0, 0, 0.2, 1); }

.popup-component .btn-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9; }

.popup-component .btn-close svg {
  width: 18px;
  height: 18px;
  color: var(--body-color); }

.popup-component .btn-close svg path {
  fill: currentColor; }

.popup-component .popup-component_box {
  max-width: 90%;
  width: 100%;
  background-color: var(--second-bg-color);
  z-index: 100;
  padding: 30px;
  border-radius: 8px;
  max-height: calc(100% - 80px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  transform: scale(0.8);
  transition: all .5s ease-in-out; }

.popup-component .popup-component_box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #d4d4d4;
  -webkit-box-shadow: inset 0 0 #d4d4d4;
  background-color: #d4d4d4;
  border-radius: 5px; }

.popup-component .popup-component_box::-webkit-scrollbar {
  width: 4px;
  background-color: #d4d4d4;
  border-radius: 5px; }

.popup-component .popup-component_box::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 5px; }

@media (min-width: 750px) {
  .popup-component .popup-component_box {
    max-width: 705px; } }

.popup-age-verification .popup-age-verification_icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 13px;
  font-size: 48px;
  font-weight: 600; }

.popup-age-verification .popup-age-verification_heading {
  margin-bottom: 2px;
  font-size: calc(var(--body-font-size) + 4px); }

.popup-age-verification .popup-age-verification_heading p {
  margin: 0; }

.popup-age-verification .popup-age-verification_subheading {
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .popup-age-verification .popup-age-verification_subheading {
    max-width: 372px;
    margin-left: auto;
    margin-right: auto; } }

.popup-age-verification .popup-age-verification_subheading p {
  margin: 0; }

.popup-age-verification .popup-age-verification_actions {
  flex-wrap: wrap; }

.popup-age-verification .btn {
  min-width: 130px;
  padding: 7px 19px;
  flex: 0 0 100%;
  border-radius: var(--btn1-radius); }

@media (min-width: 750px) {
  .popup-age-verification .btn {
    flex: none; } }

.popup-age-verification button {
  margin-bottom: var(--gutter-sm); }

@media (min-width: 750px) {
  .popup-age-verification button {
    margin-bottom: 0;
    -webkit-margin-end: var(--gutter-sm);
    margin-inline-end: var(--gutter-sm); } }

.popup-address .popup-component_box_header {
  margin-bottom: 10px; }

.popup-address .customer_address_table td {
  padding: 0 0 var(--gutter-sm); }

@media (max-width: 750px) {
  .popup-address .customer_address_table td {
    display: block;
    padding: 0 0 var(--gutter-xxs); } }

.popup-address .customer_address_table td.label {
  padding-bottom: 5px; }

@media (min-width: 750px) {
  .popup-address .customer_address_table td.label {
    padding-bottom: var(--gutter-xxs); } }

.popup-address .customer_address_table td.value input[type=text], .popup-address .customer_address_table td.value select {
  width: 100%; }

.popup-address .customer_address_table .label label {
  display: block;
  margin: 0;
  font-size: calc(var(--body-font-size) + 2px);
  -webkit-padding-end: var(--gutter-xxs);
  padding-inline-end: var(--gutter-xxs); }

.popup-address .customer_address_table .address-default td {
  padding: 0;
  position: relative; }

.popup-address .customer_address_table .address-default td input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  background: transparent;
  z-index: -1; }

.popup-address .customer_address_table .address-default td input[type=checkbox]:checked ~ label:before {
  background-color: #1e1e1e;
  border-color: #1e1e1e; }

.popup-address .customer_address_table .address-default td input[type=checkbox]:checked ~ label:after {
  content: "";
  width: 12px;
  height: 10px;
  background: #fff;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10'%3E%3Cpath fill='%23fff' d='M12 1.741L4.267 10 0 5.427l1.633-1.739L4.27 6.515 10.37 0 12 1.741z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10'%3E%3Cpath fill='%23fff' d='M12 1.741L4.267 10 0 5.427l1.633-1.739L4.27 6.515 10.37 0 12 1.741z'/%3E%3C/svg%3E");
  position: absolute;
  left: 2px;
  top: 6px; }

.popup-address .customer_address_table .address-default td label {
  display: flex;
  cursor: pointer;
  margin: 0;
  position: relative; }

.popup-address .customer_address_table .address-default td label:before {
  margin-top: 3px;
  content: "";
  display: block;
  background: #fff;
  border: 1px solid var(--body-border-color);
  border-radius: 2px;
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  -webkit-margin-end: 8px;
  margin-inline-end: 8px; }

.popup-address .action_bottom {
  text-align: center;
  margin-top: 20px; }

.popup-address .action_bottom .btn {
  width: 100%;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px; }

@media (min-width: 750px) {
  .popup-address .action_bottom .btn {
    width: auto; } }

@media (min-width: 750px) {
  .popup-quick-view .popup-component_box {
    max-width: 90%; } }

@media (min-width: 1000px) {
  .popup-quick-view .popup-component_box {
    max-width: 980px; } }

@media (min-width: 1441px) {
  .popup-quick-view .popup-component_box {
    max-width: 1195px; } }

.popup-quick-view .product-media .product-sold-out .product-media_main_sold-out {
  font-size: var(--body-font-size); }

.popup-quick-view .product-info .porduct-details {
  height: auto; }

.popup-quick-view .product-info .product-details_inventory button {
  display: none; }

.popup-quick-view .product-info .product-info_media button.slider-prev-button {
  left: 10px; }

.popup-quick-view .product-info .product-info_media button.slider-next-button {
  right: 10px; }

.popup-store-location .popup-component_box {
  transform: scale(1); }

@media (min-width: 750px) {
  .popup-store-location .popup-component_box {
    max-width: 90%; } }

@media (min-width: 1000px) {
  .popup-store-location .popup-component_box {
    max-width: 980px; } }

@media (min-width: 1441px) {
  .popup-store-location .popup-component_box {
    max-width: 1195px; } }

.popup-store-location .find-store-location {
  margin-top: var(--gutter-sm); }

@media (min-width: 992px) {
  .popup-store-location .find-store-location {
    margin-top: 0; } }

.popup-store-location .find-store-location_heading {
  margin-bottom: var(--gutter-xs); }

.popup-store-location .find-store-location_form {
  border-bottom: 1px solid var(--body-border-color);
  margin-bottom: 20px;
  padding-bottom: 2px; }

.popup-store-location .form-group {
  margin-bottom: 17px; }

.popup-store-location .store-location-list {
  height: 100%;
  max-height: 245px;
  overflow-y: auto; }

.popup-store-location .store-location-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #d4d4d4;
  -webkit-box-shadow: inset 0 0 #d4d4d4;
  background-color: #d4d4d4;
  border-radius: 5px; }

.popup-store-location .store-location-list::-webkit-scrollbar {
  width: 4px;
  background-color: #d4d4d4;
  border-radius: 5px; }

.popup-store-location .store-location-list::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 5px; }

.popup-store-location .store-location-list .store-location-item {
  display: flex;
  list-style: none; }

.popup-store-location .store-location-list .store-location-item:not(:last-child) {
  margin-bottom: 21px; }

.popup-store-location .store-location-list .store-location-item .svg-location {
  flex: 0 0 12px;
  color: var(--body-color);
  margin-top: 5px;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px; }

.popup-store-location .store-location-list .store-location-item .store-location-item_store-name {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: var(--body-color);
  font-size: calc(var(--body-font-size) + 2px); }

.popup-store-location .store-location-list .store-location-item .store-location-item_full-address {
  color: var(--body-color-2); }

.popup-store-location .mapboxgl-map {
  overflow: hidden; }

.popup-ymm-search .popup-component_box {
  padding: 0; }

.popup-ymm-search header {
  background: var(--main-color);
  padding: 12px var(--gutter-xs);
  font-size: calc(var(--body-font-size) + 2px);
  font-weight: var(--font-bold); }

@media (min-width: 750px) {
  .popup-ymm-search header {
    padding-left: var(--gutter-sm);
    padding-right: var(--gutter-sm); } }

.popup-ymm-search header .btn-close {
  position: static;
  -webkit-margin-start: var(--gutter-xxs);
  margin-inline-start: var(--gutter-xxs); }

.popup-ymm-search main {
  padding: var(--gutter-xs) var(--gutter-xs) var(--gutter-lg); }

@media (min-width: 750px) {
  .popup-ymm-search main {
    padding-top: var(--gutter-lg); } }

.popup-ymm-search .ymm-search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.popup-ymm-search .ymm-search .ymm-search_group {
  margin-top: var(--gutter-xs);
  flex: 0 0 100%; }

@media (min-width: 750px) {
  .popup-ymm-search .ymm-search .ymm-search_group {
    flex: 0 0 calc(25% - 14px);
    margin: 0 7px; } }

.popup-ymm-search .ymm-search .ymm-search_group:not(.ys-active) .select-group {
  opacity: .5;
  cursor: not-allowed;
  pointer-events: none; }

.popup-ymm-search .ymm-search .ymm-search_group.ys-error .select-group select {
  border: 1px solid red; }

.popup-ymm-search .ymm-search .ymm-search_select {
  height: 100%; }

.popup-ymm-search .select-group {
  position: relative;
  height: 100%; }

.popup-ymm-search .select-group select {
  height: 100%;
  width: 100%;
  min-height: 40px;
  white-space: normal;
  -webkit-padding-end: 45px;
  padding-inline-end: 45px; }

.popup-ymm-search .select-group svg {
  right: 15px; }

.popup-ymm-search .ymm-search_buttons {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap; }

@media (min-width: 750px) {
  .popup-ymm-search .ymm-search_buttons {
    flex: 0 0 25%;
    flex-wrap: nowrap; } }

.popup-ymm-search .ymm-search_buttons button {
  width: 100%;
  flex: 0 0 100%;
  margin-top: var(--gutter-xs); }

@media (min-width: 750px) {
  .popup-ymm-search .ymm-search_buttons button {
    margin: 0 7px;
    flex: 0 0 calc(50% - 14px); } }
