.section-featured-categories-list .category {
  padding: var(--gutter-xs);
  background-color: var(--second-bg-color);
  transition: all .35s ease-in-out; }

.section-featured-categories-list .category > a {
  display: block; }

.section-featured-categories-list .category .title {
  font-size: calc(var(--body-font-size) + 2px);
  padding-top: var(--gutter-xs);
  color: var(--body-link);
  font-weight: var(--font-body-weight); }

@media (hover: hover) {
  .section-featured-categories-list .category .title:hover {
    color: var(--body-link-hover); } }

@media (hover: hover) {
  .section-featured-categories-list .category:hover {
    box-shadow: 0 5px 24px rgba(35, 35, 35, 0.18); } }

.section-featured-categories-list .section-banner {
  overflow: hidden; }

.section-featured-categories-list .section-banner .image__style {
  height: 100%; }

.section-featured-categories-list .section-banner img {
  transition: transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.section-featured-categories-list .section-banner .heading {
  margin-bottom: 10px; }

.section-featured-categories-list .section-banner .subtext {
  margin-bottom: 20px; }

.section-featured-categories-list .section-banner .subtext p {
  margin: 0; }

.section-featured-categories-list .section-banner .subtext p:not(:last-child) {
  margin-bottom: 5px; }

.section-featured-categories-list .section-banner .btn {
  display: inline-block;
  width: 100%;
  padding: 11px 10px; }

@media (min-width: 576px) {
  .section-featured-categories-list .section-banner .btn {
    width: auto;
    padding-left: 30px;
    padding-right: 30px; } }

.section-featured-categories-list .section-banner .text-center .btn {
  margin: 0 auto; }

.section-featured-categories-list .section-banner .text-right .btn {
  -webkit-margin-start: auto;
  margin-inline-start: auto; }

@media (hover: hover) {
  .section-featured-categories-list .section-banner:hover img {
    transform: scale(1.2); } }
