.section-single-banner h3 {
  font-size: 36px;
  color: #fff; }

.section-single-banner .subtext {
  font-size: 24px;
  color: #fff; }

.section-single-banner .btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px 15px;
  display: inline-block; }

@media (min-width: 576px) {
  .section-single-banner .btn {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 27px;
    min-width: 325px; } }

.section-single-banner .sing-banner_content {
  width: calc(100% - 30px); }

.section-single-banner .sing-banner_content.text-center .btn {
  margin-left: auto;
  margin-right: auto; }

.section-single-banner .sing-banner_content.text-right .btn {
  -webkit-margin-start: auto;
  margin-inline-start: auto; }
